@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background-image: url("https://i.pinimg.com/originals/e2/84/b1/e284b14af595f046c749aea762b546a6.png");
}

.titulo-Principal {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.tituloP {
    color: white;
    height: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: -webkit-xxx-large;
    text-shadow: 3px 1px 4px black;
    margin: 0;
}

.tituloSec {
    color: white;
    font-size: xx-large;
    font-family: 'Wallpoet', cursive;
}

.sub-ataque {
    color: white;
    font-size: xx-large;
    font-family: 'Wallpoet', cursive;
    font-weight: bolder;
}

#seleccionar-mascota {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#seleccionar-ataque{
    padding-top: 20px;
}

#seleccionar-mascota .card {
    width: 500px;
    height: 520px;
    border-radius: 8px;
    box-shadow: inset -14px -3px 12px 9px rgb(0 0 0 / 40%);
    background-color: antiquewhite;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

#seleccionar-mascota .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#seleccionar-mascota .card img {
    width: 330px;
    height: 220px;
    padding-top: 18px;
}

.label-mokepon {
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    font-family: 'Silkscreen', cursive;
    font-size: large;
}

#seleccionar-mascota .card p {
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

.seleccion-radio {
    width: 400px;
    height: 41px;
    cursor: pointer;
}

#seleccionar-mascota .card h3 {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(218, 46, 0);
}

#boton-mascota {
    font-size: xx-large;
    background: antiquewhite;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
    transition: 1s ease all;
    border-radius: 5px;
}

#boton-mascota:hover {
    background-color: orange;
}

.div-btn-seleccion {
    display: flex;
    justify-content: center;

}

#seccion-titulo-combate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#seccion-titulo-combate p {
    font-family: 'Wallpoet', cursive;
    color: white;
    font-size: medium;
    font-weight: bolder;
}

#imagenes-combate {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.card-jugador p {
    text-align: center;
    font-family: 'Wallpoet', cursive;
    color: red;
    font-size: medium;
    font-weight: bold;
}

.card-jugador {
    width: 500px;
    height: 430px;
    border-radius: 8px;
    box-shadow: inset -14px -3px 12px 9px rgb(0 0 0 / 40%);
    background-color: antiquewhite;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.card-jugador img {
    width: 400px;
    height: 300px;
    padding: 25px;
}

.card-enemigo {
    width: 500px;
    height: 430px;
    border-radius: 8px;
    box-shadow: inset -14px -3px 12px 9px rgb(0 0 0 / 40%);
    background-color: antiquewhite;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.card-enemigo p {
    text-align: center;
    font-family: 'Wallpoet', cursive;
    color: red;
    font-size: medium;
    font-weight: bold;
}

.card-enemigo img {
    width: 400px;
    height: 300px;
    padding: 25px;
}

#versus img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px crimson;
    -webkit-box-shadow: 0px 0px 15px 15px #ff1e00;
}

#versus {
    display: flex;
    align-items: center;
}

#botones-ataque{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 20px;
}

#boton-fuego{
    color: black;
    background-color: orange;
    width: 170px;
    height: 53px;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#boton-agua{
    color: black;
    background-color: #00f2ff;
    width: 170px;
    height: 53px;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#boton-tierra{
    color: white;
    background-color: brown;
    width: 170px;
    height: 53px;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#subtit{
    display: flex;
    justify-content: center;
}

#mensajess{
    display: flex;
    background: antiquewhite;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
}

#reinicio{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#boton-reiniciar{
    font-size: larger;
    width: 136px;
    height: 52px;
    background-color: black;
    color: white;
    font-family: 'Wallpoet', cursive;
    font-weight: bolder;
    cursor: pointer;
}